# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/
/bin/         
.vscode/
# 忽略 script 文件夹及子文件夹中所有的 txt 文件
script/**/*.txt
# 忽略 script 文件夹中所有的 txt 文件
script/*.txt

script/*.log
script/**/*.txt
